<!DOCTYPE html>
<html>

   <head>
      <title>Crypto Wallet</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/37/37099.svg">
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> 
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%# stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
   </head>
   

   <div class="container-fluid">

      <ul class="nav justify-content-end">
         <li class="nav-item">
            <%= link_to "Portuguese", root_path(locale: "pt-BR"), class: "nav-link active" %>
         </li>
         <li class="nav-item">
            <%= link_to "English", root_path(locale: "en"), class: "nav-link" %>
         </li>
         <li class="nav-item">
              <a action="#" class="nav-link" onclick="$.notify('<%= t('about_message') %>', 'success');" >About</a>
         </li>
      </ul>
      <body>
         <%= yield %>
      </body>
   </div>
   

</html>